- content_for :title do
  | Sign up

.row
  .col-md-6.offset-md-3
    = form_with(model: @user, local: true) do |f|
      = render "shared/error_messages"

      = f.label :name
      = f.text_field :name, class: "form-control"

      = f.label :name, "Another name label"

      = f.label :email
      = f.text_field :email, class: "form-control"

      = f.label :password
      = f.password_field :password, class: "form-control"

      = f.label :password_confirmation, "Confirmation"
      = f.password_field :password_confirmation, class: "form-control"

      = f.submit "Create my account", class: "btn btn-primary"
