.jumbotron.center
  h1.display-4 Hello World, welcome to the Sample App
  p.lead This is the feature branch home page for the Ruby on Rails Sample App.
  hr.my-4
  = link_to "Sign Up", signup_path, class: "btn btn-primary btn-lg"

= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"), "https://rubyonrails.org"