- content_for :title do
  | Contact

.container.text-center
  p
  h1 Contact Page
  hr
  p This is an example for contact page, using `high_voltage`
  br
  br
  br
  = link_to 'Back to Home', root_path
