- content_for :title do
  | Help

.container.text-center
  p
  h1 Help
  hr
  p Get help on
  a< href="https://guides.rubyonrails.org/" Ruby on Rails
  br
  br
  br
  = link_to 'Back to Home', root_path