footer.footer
  small 
    | The
    a< href="https://rubyonrails.org" Ruby on Rails Org
  nav
    ul.nav
      li.nav-item= link_to "About", page_url("about"), class: "nav-link"
      li.nav-item= link_to "Contact", page_url("contact"), class: "nav-link"
      li.nav-item
        a.nav-link href="https://news.railstutorial.org" News