header
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        = link_to "Sample App", root_path, id: "logo", class: "navbar-brand"
        ul.navbar-nav.ml-auto
            li.nav-item= link_to link_to "Home", root_path, class: "navbar-brand"
            li.nav-item= link_to link_to "Help", page_url("help"), class: "navbar-brand"
            li.nav-item= link_to link_to "Log In", "#", class: "navbar-brand"
