doctype html
html
  head
    = render "layouts/meta"
    title = full_title(yield(:title))
    = render "layouts/shim"
    = content_for?(:head) ? yield(:head) : ''
    = render "layouts/pack_tags"
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = favicon_link_tag asset_pack_path("media/images/favicon.ico")
  body class=body_class
    = render "layouts/header"
    main
      .container
        - flash.each do |message_type, message|
          div class="aler alert-#{message_type}" = message
        == yield
        = render "layouts/footer"
        = debug(params) if Rails.env.development?
